/* Selectors are ways of grabbing and manipulating html. There are
many types and have different applications. */

/* Element selector, applied to all elements with that tag on a page*/
p {
    color:red;
}

/* Class selector, applied to all elements with that class name*/
.my-class {
    color: blue;
}

/* Id slector, applied to all elements with that id. Unlike classes,
it can only be used on one element at a time*/
#my-id {
    color: orange;
}

