/* Now, we will review over some of the more advanced selectors

The adjacent sibling selector selects every element that 
directly follows a different element

The example below selects every achor tag that follows an h2*/

h2 + a {
    color: red;
}

/*The general sibling selector selects every element that 
directly follows a different element, but only if they share
the same parent element

The example below selects every button that follows a test area,
that share the same parent*/

textarea ~ button {
    color: purple;
}

/*The child selector selects direct children of a certain element

The example below styles direct child li elements inside of all uls*/
ul > li {
    color: blue;
}

/*The decentant selector selects all children

The example below styles all li elements inside of all uls*/
ul li {
    color: green;
}